/*@font-face {
  font-family: Neucha;
  src: url(fonts/neucha-regular.ttf);
}*/
@keyframes anima {
  from {background-color: #c9fffd;}
  to {background-color: #defffe;}
}

body {
	font-family: Garamond, serif;
  font-weight:normal;
  font-style:normal;
	float: left;
	animation: anima 10s infinite;
}



nav {
  background-color: pink;
  overflow:hidden;
	float:left;
  width: 100%;
  position: relative;
}

nav ul{
  float: left;
  position:relative;
  margin: 0;
  left: 50%;
	list-style-type: none;
	padding: 0;
}

nav ul li {
  float:left;
  position: relative;
  right:50%;
  display: block;
}

nav ul li a{
  padding: 10px 20px;
	display: block;
  color: #000;
  text-decoration: none;
}

nav a:hover {
	background-color:#fff;
}
